* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }

.cities {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.city__weatherInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: none;

    transition: box-shadow 150ms linear;
}

.city__weatherInfo:hover {
    box-shadow: 1px 1px 5px #c3c3c3;
}

.city__weatherInfo > p* {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.city__weatherInfo > p:last-child > strong {
    color: red;
}


