* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .main {
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
      justify-content: center;
      height: 100vh;
  }

  .main__bar {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: .25;
    width: 100%;
  }
  
  .main__bar > .main__title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: .46;
    width: 100vw;
    background-color: #ffc90e;
  }
  
  .main__title > span {
    position: relative;
    display: flex;
    font-size: 1.3em;
    font-weight: 500;
    color: #000;
  }

  .main__title .title strong {
    color: #000;
  }

  .title .caret__icon {
    padding: 1px;
    background-color: #fff;
    cursor: pointer;
  }

  .cities__visited {
    position: absolute;
  }
  
  .search__container {
    position: relative;
    display: flex;
    flex: .54;
    align-items: center;
    width: 100vw;
    background: #e48450;
  }
  
  .search__container > form {
    position: relative;
    display: flex;
    margin: auto;
  }
  
  .search__container > form > input {
    width: 30vw;
    height: 7vh;
    border-radius: 20vw 0 0 20vw;
    border-color: transparent;
    outline: none;
    font-size: 1em;
  }
  
  #button {
    width: 12vw;
    height: 7vh;
    border-radius: 0 20vw 20vw 0;
    border: 2px solid #db5828;
    outline: none;
    background-color: #e96e50;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
  }

  #button:hover {
    background-color: #e65d3a;
  }

  .main__body {
    position: relative;
    display: flex;
    flex: .75;
    align-items: center;
    justify-content: center;
  }

  .currentCityWeatherInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }

  .searchedWeatherInfo {
    position: relative;
    display: none;
    flex-direction: column;
    padding: 5px 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: none;

    transition: box-shadow 150ms linear;
}

.searchedWeatherInfo:hover {
    box-shadow: 1px 1px 5px #c3c3c3;
}

.searchedWeatherInfo > p* {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

